.article-preview {
  margin-top: 5px;
}

.btn-left {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}

.btn-middle {
  border-radius: 0;
  padding: 0.25rem;
}

.btn-right {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}
