.top-menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
    overflow: hidden;
}

.d-none {
    display: none;
}

@media (max-width: 767px){
    .hamburger-menu {
        display: block;
    }

    .custom-nav {
        position: absolute;
        top: 100%;
        left: 1%;
        width: 98%;
        background: #f8f9fa;
        z-index: 2;
    }

    .custom-nav ul {
        width: 100%;
        display: flex;
        flex-direction: column;
    }

    .custom-nav ul li {
        text-align: center;
        width: 100%;
        margin: 0 !important;
        border-bottom: 1px solid #cfcdcd;
        z-index: 2;
    }

    .custom-nav ul li:hover {
        background: #ebebeb;
        border-left: 2px solid #5cb85c;
    }
}

@media (min-width: 768px){
    .hamburger-menu {
        display: none;
    }

    .custom-nav {
        display: block;
    }
}
